*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	/*background:white url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1503639572647&di=4df603638b4e2ec77d71d9353640a81d&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2Fe%2F57a2af5cb3516.jpg) no-repeat;*/
	/*background-size:100%;*/
}
#part1{
	display: flex;
	margin: 30px 20px;
}
#left{
	flex: 9;
	font-family:方正姚体;
	color: #F8F8FF;
	font-size: 30px;
	padding: 0 30px;
}
#bold{
	font-weight: 800;
	color: white;
}
#part1 ul{
	flex: 2;
	display: flex;
}

.right{
	flex: 1;
}
/*#part1 .right button{
	border: none;
	background-color:transparent;
	font-size: 20px;
	color: white;
	cursor: pointer;
	outline: none;
}*/
ul,li{
	border: none;
	background-color:transparent;
	font-size: 20px;
	color: white;
	cursor: pointer;
	outline: none;
	list-style:none;
}
#part2{
	display:-webkit-box; 
	-webkit-box-orient:horizontal; 
	-webkit-box-pack:center; 
	-webkit-box-align:center; 
}
#part2 .hide{
	display: none;
}
ul li.on{
	text-decoration: underline;
}
#form_in , #form_up{
	border: none;
	margin: 100px 0 0 0;
}
#part2 input{
	background-color:transparent;
	border: none;
	border-bottom: solid 1px white;
	height: 40px;
	width: 450px;
	margin: 20px;
	color: white;
	font-size: 17px;
	font-family: Century Gothic;
	outline: none;/*点击后边框不显示*/
}
#part2 .button{
	background-color: black;
	opacity:0.5;
	color: white;
	border: none;
	width: 490px;
	height: 40px;
	border-radius: 50px;
	font-family: Century Gothic;
	cursor: pointer;
	font-size: 17px;
	margin: 35px 0 0 0;
	transform: translate(17px,0);
	outline: none;
}
#part3{
	background-color: black;
	opacity:0.5;
	height: 70px;
	position: absolute;
	bottom: 0;
	width: 100%
}
#part3 p{
	color: white;
	opacity:1;
	line-height: 70px;
	text-align: center;
	vertical-align: middle;
}

/*图标*/
img{
	width: 35px;
	height: 35px;
	margin-bottom: -15px;
}